{% extends 'dashboard/adviser.base.html' %}
{% load static %}
{% block title %}
    Dash-Asesor
{% endblock %}

{% block title_section %}
    Centro de Control
{% endblock %}

{% block content_seccion %}
    <div class="mb-4">
            <div class='panel'>
                <div class="row">
                    <h1 class="ml-2 font-weight-bold text-primary">Preguntas</h1>
                </div>
                <div class="row mb-1 p-2 bg-gray-300 rounded shadow">
                </div>
            </div>
            <div id='InfoMsg' class="mb-2">
            </div>
        <div class="table-responsive">
            <ul class="list-group">
                {% for question in questions %}
                <li class="list-group-item mb-2 shadow container" id="question-{{ question.id }}" >
                    <div class='row mb-2 d-flex align-items-center'>
                        <div class="col-2 flex-fill">
                            <img
                                class="img-profile rounded"
                                src="{{ question.product.image }}"
                                alt="link-> {{question.product.image}}"
                            >
                        </div>
                        <div class="flex-fill d-flex flex-column">
                            <div>
                                <a href="{{ question.product.provider_link }}" target="_blank">{{ question.product.title }}</a> - <strong>USD {{ question.product.sale_price }}</strong>
                            </div>
                            <div>   
                                <a href="{{ question.product.store_link }}" target="_blank">Nuestra publicacion</a>
                            </div>
                            <span>{{ question.product.quantity }} disponibles</span>
                        </div>
                    </div>
                    <div class='mb-2'>
                        <div class="d-flex flex-column">
                            <div class="flex-fill">
                                <i class="fas fa-comments text-gray-300"></i>
                                <span>Hace <strong>{{ question.from_date }}</strong> por <strong>{{question.buyer.nickname}}</strong></span>
                            </div>
                            <div class="flex-fill">
                                <p>¿{{ question.text }}</p>
                            </div>
                        </div>
                        <div id="containerAnwers-{{question.id}}">
                            <form question="{{question.id}}" api='formAnswer'>
                                <input type="hidden" name="questionId" api='data-answer-{{question.id}}' value="{{question.id}}">
                                <div class="p-2 d-flex  align-content-center flex-column">
                                    <div class="form-group col-12 mb-1">
                                        <textarea
                                            class="form-control"
                                            rows="2" name="answer"
                                            api='data-answer-{{question.id}}'
                                        >Buenas {{question.buyer.nickname}}</textarea>
                                    </div>
                                    <div class="mr-4">
                                        <button class="btn btn-primary" type="submit">
                                            Responder<i class="fas fa-paper-plane fa-sm"></i>
                                        </button>            
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                {% endfor %}  
            </ul> 
        </div>
    </div>

    <script src="{% static 'js/dashboard/questions.js' %}"></script>
{% endblock %}
