{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% block head %}
<style>
    .text-black{
        color:black
    }
</style>
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Control Center</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Control Center</a></li>
                    <li class="breadcrumb-item active">Ordenes</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
        <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                <div class="inner">
                    <h3 id='card-questions'><sup style="font-size: 20px">Cargando...</sup></h3>
    
                    <h4>Preguntas</h4>
                </div>
                <div class="icon">
                    <i class="ion ion-help-circled"></i>
                </div>
                <a href="{% url 'dashboard.show_questions' %}" class="small-box-footer">Ingresar <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                <div class="inner">
                    <h3><sup style="font-size: 20px">En desarrollo</sup></h3>
    
                    <h4>Mensajes</h4>
                </div>
                <div class="icon">
                    <i class="ion ion-chatbubble-working"></i>
                </div>
                <a href="#" class="small-box-footer">Ingresar <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                <div class="inner">
                    <h3><sup style="font-size: 20px">En desarrollo</sup></h3>
    
                    <h4>Corregir</h4>
                </div>
                <div class="icon">
                    <i class="ion ion-edit"></i>
                </div>
                <a href="#" class="small-box-footer">Ingresar <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                <div class="inner">
                    <h3><sup style="font-size: 20px">En desarrollo</sup></h3>
    
                    <h4>Reclamos</h4>
                </div>
                <div class="icon">
                    <i class="ion ion-alert-circled"></i>
                </div>
                <a href="#" class="small-box-footer">Ingresar <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            </div>
        </div>
        <div class="container" id='InfoMsg'></div>
        {% block content_seccion %}
        {% endblock %}
    </section>
    
    <script src="{% static 'js/dashboard/dashboard.js' %}"></script>
    <script src="{% static 'js/dashboard/news.js' %}"></script>
{% endblock %}
